<h1>Users一覧</h1>
  <ul>
   <% @users.each do |user| %>
    <li><%= link_to user.id,user %>:<%= user.name %></li>
   <% end %>
  </ul>

<%= link_to "新規登録", "/signup"  %>
<%= link_to "新規タスクの投稿",new_task_path %>
